<div class="container">
  <div class="row">
    
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th></th>
        <th>1限</th>
        <th>2限</th>
        <th>昼</th>
        <th>3限</th>
        <th>4限</th>
        <th>5限</th>
      </tr>
      <% @repete_counts.times do |repete_count| %>
        <tr>
          <td><%= (@today + repete_count).strftime("%-m月%-d日") %></td>
            <% 6.times do |n| %>
              <td>
                <% reservation = @reservations.find_by(date: (@today + repete_count), period: n)%>
                <% if reservation %>
                  <%= link_to edit_reservation_path(reservation) do %>
                    <%= reservation.name %>
                  <% end %>
                <% end %>
                
                
              </td>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>